/* color variables */

:root {
  --mdb-primary: #0077B6; 
  --mdb-primary-rgb: 0, 119, 182;

  --mdb-secondary: #33415C; 
  --mdb-secondary-rgb: 51, 65, 92;

  --mdb-accent: #FCA311;
  --mdb-accent-rgb: 252, 163, 17;

  --mdb-light: #FFFFFF;
  --mdb-light-rgb: 255, 255, 255;

  --mdb-dark: #1b1b20;
  --mdb-dark-rgb: 27, 27, 32;

  --mdb-dar-secondary: #84B3F0;

  --mdb-highlight-bg-color: var(--mdb-primary);
  --mdb-surface-color: var(--mdb-light);

  --mdb-heading-color: var(--mdb-secondary);
  --mdb-font-sans-serif: "Montserrat", sans-serif;

  --btn-color-facebook: #3b5998;
  --btn-color-instagram: #E1306C;
  --btn-color-tiktok: #000000;
  --btn-color-twitter: #1DA1F2;
  --btn-color-youtube: #FF0000;
  --btn-color-google: #dd4b39;
}

body {
  --mdb-body-color: #333333;
  --mdb-body-bg: #474c53;
}

/* tooltip styles */

.tooltip {
  --mdb-tooltip-bg: var(--mdb-secondary);
  --mdb-tooltip-color: var(--mdb-light);
}

/* button styles */

.btn-primary {
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-bg: var(--mdb-primary);
  --mdb-btn-border-color: var(--mdb-primary);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--mdb-secondary);
  --mdb-btn-hover-border-color: var(--mdb-secondary);
}

.btn-outline-primary {
  --mdb-btn-color: var(--mdb-primary);
  --mdb-btn-border-color: var(--mdb-primary);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--mdb-primary);
  --mdb-btn-hover-border-color: var(--mdb-primary);
}

.btn-secondary {
  --btn-color-hover-secondary: #0A1A2F;
  --mdb-btn-color: var(--mdb-light);
  --mdb-btn-bg: var(--mdb-secondary);
  --mdb-btn-border-color: var(--mdb-secondary);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--btn-color-hover-secondary);
  --mdb-btn-hover-border-color: var(--btn-color-hover-secondary);
}

.btn-outline-secondary {
  --mdb-btn-color: var(--mdb-secondary);
  --mdb-btn-border-color: var(--mdb-secondary);
  --mdb-btn-hover-color: var(--mdb-light);
  --mdb-btn-hover-bg: var(--mdb-secondary);
  --mdb-btn-hover-border-color: var(--mdb-secondary);
}

/* list styles */

.list-group {
  --mdb-list-group-color: var(--mdb-light);
  --mdb-list-group-bg: var(--mdb-primary);
  --mdb-list-group-action-hover-color: var(--mdb-light);
  --mdb-list-group-action-hover-bg: var(--mdb-dark);
  --mdb-list-group-action-active-color: var(--mdb-light);
  --mdb-list-group-action-active-bg: var(--mdb-accent);
}

.list-group .list-group-item {
  --mdb-list-group-bg: transparent;
}

.list-group form {
  --mdb-list-group-color: var(--mdb-light);
  --mdb-list-group-bg: var(--mdb-secondary);
  --mdb-list-group-action-hover-color: var(--mdb-accent);
  --mdb-list-group-action-hover-bg: var(--mdb-dark);
}

/* card styles */

.list-group .card {
  --mdb-card-color: var(--mdb-primary);
  --mdb-card-bg: var(--mdb-list-group-color);
}

.list-group .card .card-header {
  --mdb-card-cap-bg: var(--mdb-primary);
}

.list-group .card .card-header .card-title {
  color: var(--mdb-light);
}

.list-group .card .card-header .card-title:hover {
  color: var(--mdb-accent-rgb);
}

.list-group .card .card-footer {
  --mdb-card-cap-color: var(--mdb-primary);
}

/* dropdown menu styles */

.dropdown-menu {
  --mdb-dropdown-bg: var(--mdb-secondary);
}

form .dropdown-item {
  --mdb-surface-color: var(--mdb-accent);
  --mdb-highlight-bg-color: var(--mdb-dark);
}

/* navbar styles */

nav .nav-link, .offcanvas .nav-link {
  position: relative;
  --mdb-nav-link-color: var(--mdb-light);
  --mdb-nav-link-hover-color: var(--mdb-accent);
  --mdb-navbar-active-color: var(--mdb-accent);
  transition: color 0.3s ease;
}

nav .nav-link::after, .offcanvas .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--mdb-accent);
  transition: width 0.3s ease;
}

nav .nav-link:hover::after, .offcanvas .nav-link:hover::after {
  width: 100%;
}

nav .nav-link.active::after, .offcanvas .nav-link.active::after {
  width: 100%;
  background: var(--mdb-accent);
}

/* tab styles */

.nav-tabs .nav-link {
  --mdb-nav-tabs-link-font-weight: bold;
  --mdb-nav-tabs-link-font-size: 14px;
  --mdb-nav-tabs-link-color: var(--mdb-dark);
  --mdb-nav-tabs-link-hover-bgc: var(--mdb-accent);
  --mdb-nav-tabs-link-active-color: var(--mdb-primary);
  --mdb-nav-tabs-link-active-border-color: var(--mdb-primary);
}

/* link styles */

a {
  --mdb-link-color-rgb: var(--mdb-primary-rgb);
  --mdb-link-hover-color-rgb: var(--mdb-accent-rgb);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* title styles */

.title-style {
  text-transform: uppercase;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  border-radius: 10px;
  margin-block-end: 15px;
  padding: 15px;
  border-inline: 5px solid var(--mdb-primary);
}

/* text styles */

label {
  font-weight: 800;
}

span {
  text-transform: none;
  font-size: large;
}

textarea ~ div[data-error-for] {
  margin-top: -1.5rem;
}

/* background styles */

body section {
  margin-block-end: 30px;
}

.offcanvas-header, .modal-header {
  justify-content: space-between;
  background: var(--mdb-secondary);
  border-block-end: 5px solid var(--mdb-accent);
  padding: 10px 20px;
  --mdb-heading-color: var(--mdb-light);
}